body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    
}

input {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border-radius: 12px;
    outline: none;
    border-color: rgb(255, 0, 0);
    display: block;
    margin: 1rem;
    background-color: #ffff !important;
}
.btn{
    padding: 0.6rem 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    margin-top: 1rem;
    border-radius: 6px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}


.green {
    border-color: green !important;
}

.hide{
    display: none !important;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
}
.err-msg{
    color: red;
    margin-top: 4px;
}